/**
 * Menu hamburger (Mobile First) et navigation
   ========================================================================
 */
// https://codepen.io/joesayegh/pen/jOEVPKO

  #hamburgerlogo {
    top: 55px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    overflow: visible;
    position: absolute;
    z-index: 2;
    right: 10px;
    display: block;

    // THE LINES
    span,
    span:before,
    span:after {
      background: white;
      display: block;
      height: 4px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      border-radius: 35px;
    }

    span:before,
    span:after {
      content: '';
    }

    // TOP
    span:before {
      left: 0px;
      top: -10px;
      width: 40px;
    }

    // MIDDLE
    span {
      right: 0px;
      top: 13px;
      width: 40px;
    }

    // BOTTOM
    span:after {
      left: 0px;
      top: 10px;
      width: 40px;
    }

    // ROTATION ON CLICK
    &.close {
      position: fixed;
      // TOP
      span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 40px;
      }

      // MIDDLE
      span {
        transform: rotate(-45deg);
        top: 13px;
        width: 40px;
      }

      // BOTTOM
      span:after {
        top: 0px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
      }
    }
  }

  .nav-principale {
    font-size: $paragraphe;
    z-index: 1;
    position: fixed;
    top: 0;
    min-height: 100%; //peut être problématique
    min-width: 100%;  //peut être problématique
    visibility: hidden;
    opacity: 0;
    text-align: left;
    padding-top: 20px;
    right:0;
    transition: all 0.3s ease-in-out;

    &.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 80px;
      background: $gradientMauveFonce;
    }
  }

  @media(min-width: 601px) {
    #hamburgerlogo{
      display: none;
    }
    .nav-principale{
      display: flex;
      padding-left: 50px;
      padding-top: 45px;
      visibility: visible;
      position: relative;
      opacity: 1;

      &.overlay {
        background: none;
      }
    }

  }


