header{
  background: purple;
}

/* Navigation principale */

.menu__principal .menu-item{
  width: 100%;
}

.menu__principal{
  padding-top: 30px;

  div{
    &:first-of-type{
      padding-bottom: 124px;
      .logo{
        margin-left: 10px;
        position: relative;
      }
    }
  }
  .menu{
    padding-top: 60px;
    margin: 0;
    .menu-item{
      padding: 10px;
      a{
        color: white;
        text-decoration: none;
      }
    }
    .fa{
      color: white;
      &::before{
        float: left;
        margin-top: 0;
        width: 25px;
        display: block;
      }
    }
  }
}
@media(min-width: 601px){
  .menu__principal .menu-item{
    width: auto;
  }
  .menu__principal{
    padding-top: 30px;

    div{
      &:first-of-type{
        padding-bottom: 0;
        .logo{
          margin: 0 -137px;
          position: absolute;
          width: 111px;
          height: 111px;
        }
      }
    }
    .menu{
      top:0;
      padding-top: 0;
      padding-left: 0;
      margin: 0;
      .menu-item{
        padding-right: 70px;
      }
      .fa{
        &::before{
          display: none;
        }
      }
    }
  }
}


/* Navigation secondaire */

.navigation__secondaire {
  max-width: 960px;
  margin   : 0 auto;

  ul {
    list-style: none;
    margin    : 10px 0 10px 10px;
    padding   : 0;
  }

  li {
    display     : inline-block;
    margin-right: 2px;
  }
}