
/* Navigation principale */

.menu__principal .menu-item{
  width: 100%;
}

.menu__principal{
  padding-top: 30px;

  div{
    &:first-of-type{
      .logo{
        margin-left: 10px;
        position: relative;
      }
    }
  }
  .menu{
    padding-top: 60px;
    margin: 0;
    list-style: none;
    .menu-item{
      padding: 10px;
      a{
        color: white;
        text-decoration: none;
        &:hover{
          color: $mauvePrimaire;
        }
        &:after{
          color: $mauvePrimaire;
        }
      }
    }
  }
  .medias-icons {
    display: none;
  }
}
@media(min-width: 601px){
  .menu__principal .menu-item{
    width: auto;
  }
  .menu__principal{
    padding-top: 30px;
    padding-left: 85px;
    div{
      &:first-of-type{
        .logo{
          position: absolute;
          width: 111px;
          height: 111px;
        }
      }
    }
    .menu{
      display: flex;
      margin-left: 160px;
      top:0;
      padding-top: 0;
      padding-left: 0;
      //padding-right: 800px;
      .menu-item{
        padding-right: 70px;
      }
    }
    .medias-icons{
      padding-right: 90px;
      padding-top: 2px;
      display: flex;
      svg{
        margin-left: 20px;
        a{
          &:hover{
            path{
              fill: $mauvePrimaire;
            }
          }
        }
      }
    }
  }
}