/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/
/*Volkhov*/
@font-face {
  font-family: "Volkhov";
  src        : url('../fonts/Volkhov-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style : italic, oblique;
}

@font-face {
  font-family: "Volkhov";
  src        : url('../fonts/Volkhov-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Volkhov";
  src        : url('../fonts/Volkhov-Italic.ttf') format('truetype');
  font-style : italic, oblique;
}

@font-face {
  font-family   : "Volkhov";
  src           : url('../fonts/Volkhov-Regular.ttf') format('truetype');
  // font-weight: normal;
  // font-style: normal;
}

/*Nunito*/
@font-face {
  font-family: "Nunito";
  src        : url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-style : italic, oblique;
}

@font-face {
  font-family: "Nunito";
  src        : url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

/*Macondo Swash Caps*/
@font-face {
  font-family: "Macondo Swash Caps";
  src        : url('../fonts/MacondoSwashCaps-Regular.ttf') format('truetype');
}


$fontePrimaire : "Volkhov",
serif;
$fonteSecondaire : "Nunito",
sans-serif;

/* Tailles de texte */

//Mobile
$mobileH1 : 48px;
$mobileH2 : 32px;
$mobileH3 : 24px;

//Table
$tableH1 : 64px;
$tableH2 : 48px;
$tableH3 : 32px;
$tableH4 : 24px;

//Texte
$paragraphe : 16px;
$hyperlien  : 16px;
$lien       : 20px;


/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$mauvePrimaire   : #C95DFB;
$mauveSecondaire : #7600AD;
$mauvePale       : #F2E4F9;

$gradientMauve            : linear-gradient(180deg, #7600AD 0%, #C95DFB 60%);
$gradientMauveTransparent : linear-gradient(180deg, #F2E4F9 50.6%, #C576E0 134.92%);
$gradientMauveFonce       : linear-gradient(0deg, #1F0335 -2.79%, #5B099B 46.55%);
/* Autres couleurs */
$hyperlien                : #1F0335; // A changer

/** Points de rupture **/
$desktop : 601px;