/* Entete de page */
.entete__principale{
  img{
    position: absolute;
    height: 75%;
    width: 100%;
  }
  .fond{
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius : 10px;
    padding-bottom: 100px;
    &:last-of-type{
      color: white;
      .entete__titre{
        padding-top: 120px;
        font-size: 36px;
        white-space: pre;
        margin: 0 10px;
      }
      .entete__slogan{
        padding-top: 30px;
        font-size: $paragraphe;
        font-weight: lighter;
        width: 100%;
        margin-left: 10px;
      }
    }

  }
}

.entete__single{
  .fond{
    background: $gradientMauveFonce;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius : 20px;
    padding-bottom: 100px;
  }
}

@media(min-width: 601px){
  .entete__principale{
    img{
      height: 90%;
    }
    .fond{
      padding-bottom: 180px;
      div{
        &:last-of-type{
          padding-left: 10px;
          .entete__titre{
            padding-top: 120px;
            font-size: $tableH1;
            margin: 0 220px;
          }
          .entete__slogan{
            font-size: $paragraphe;
            padding-top: 0;
            width: 30%;
            margin-left:220px;
          }
        }
      }
    }
  }
}

@media(min-width: 601px){
  .entete__single{
    .fond{
      padding-bottom: 150px;
    }
  }
}