* {
  box-sizing: border-box;
}

html {
  background-color: 7600AD;
}

body {
  max-width: 100%;
  caret-color: transparent;
  // padding: 0;
  // margin: 0 10px;
}
@media (min-width:601px){
  body{
    // margin: 0 220px;
  }
}
// .contenu{
//   max-width: 1000px;
//   margin: 0 10px;
//   box-sizing: content-box;
// }
// @media (min-width:601px){
//   .contenu{
//     margin: 0 auto;
//     padding: 0 5vw;
//   }
// }
// @media (min-width:1001px) {
//   .contenu {
    
//   }
// }
.b_page,.c_page{
  padding: 0 10px;
  box-sizing: content-box;
}
@media (min-width:601px){
  .b_page,.c_page{
    margin: 0 auto;
    padding: 0 5vw;
  }
}
@media (min-width:1001px) {
  .b_page,.c_page {
    padding: 0 10vw;
  }
}


.page{
  float: left;
  width: 100%;
  @media only screen and (max-width: 735px) {
    float: none;
    width: 100%;
    border-bottom: 1px solid #333;
  }
}