/*pied de page*/
.piedDePage{
  background: $gradientMauveTransparent;
  padding: 90px 10px 20px 10px;
  .elements__princpaux{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    h1{
      font-size: 64px;
      width: 40%;
    }
    .svg_etoile{
      position: absolute;
      left: 200px;
      margin-top: 2em;
      height: 90px;
      width: 90px;
    }
  }
  .elements__secondaires{
    text-align: center;
    h2{
      margin:0;
      font-size: $mobileH2;
      padding-bottom: 20px;
    }
    .svg_chapeau{
      height: 113px;
      width: 138px;
      margin-bottom: 70px;
    }
    .informations{
      font-size: $paragraphe;
      padding-bottom: 60px;
      p{
        margin:0;
        padding-bottom: 30px;
      }
    }
    .medias-icons{
      padding-bottom: 150px;
      i{
        padding: 15px;
        color: black;
        &:hover{
          color: $mauvePrimaire;
        }
      }
    }
  }
}

@media(min-width: 601px){
  .piedDePage{
    padding: 150px 220px 30px 220px;
    .elements__princpaux{
      justify-content: flex-start;
      h1{
        font-size: 75px;
        width: 41%;
      }
      .svg_etoile{
        height: 140px;
        width: 140px;
        left: 600px;
        margin-top: 20px;
      }
    }

    .elements__secondaires{
      text-align: left;
      h2{
        font-size: $tableH2;
      }
      .svg_chapeau{
        position: absolute;// à revoir car pas responsive
        height: 480px;
        width: 568px;
        //bottom: 100px;
        right: 440px;
      }
      .informations{
        padding-bottom: 100px;
        p{
          &:last-child{
            padding-top: 30px;
          }

        }
      }
    }
  }
}

