/*pied de page*/
.piedDePage{
  background: $gradientMauveTransparent;
  padding: 10vh 5vh;
  .elements__princpaux{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    h1{
      font-size: 64px;
      width: 40%;
    }
    .svg_etoile{
      position: absolute;
      left: 200px;
      margin-top: 2em;
      height: 90px;
      width: 90px;
    }
  }
  .elements__secondaires{
    text-align: center;
    h2{
      margin:0;
      font-size: $mobileH2;
      padding-bottom: 20px;
    }
    .container{
      .svg_chapeau{
        height: 113px;
        width: 138px;
        margin-bottom: 70px;
      }
      .informations{
        font-size: $paragraphe;
        padding-bottom: 60px;
        p{
          margin:0;
          padding-bottom: 30px;
        }
      }
    }
    .medias-icons{
      padding-bottom: 150px;
      svg{
        margin-left: 10px;
        &:hover{
          path{
            fill: $mauvePrimaire;
          }
        }
      }
    }
  }
}

@media(min-width: 601px){
  .piedDePage{
    padding: 10vh 25vh 2vh 25vh;
    .elements__princpaux{
      justify-content: flex-start;
      h1{
        font-size: 75px;
        width: 41%;
      }
      .svg_etoile{
        height: 144px;
        width: 144px;
        left: 600px;
        margin-top: 20px;
      }
    }

    .elements__secondaires{
      text-align: left;
      h2{
        font-size: $tableH2;
      }
      .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        .svg_chapeau{
          height: 100%;
          width: 100%;
          margin-bottom: 0;
          padding-bottom: 150px;
          margin-left: 200px;
        }
        .informations{
          padding-bottom: 50px;
          font-weight: bolder;
          p{
            font-size: $tableH4;
            &:last-child{
              padding-top: 30px;
            }
          }
        }
      }
    }
  }
}

