// Prévixer les id et classes avec "b_"
.b_page {
	background  : $gradientMauve;
	color       : #000;
	width       : initial;
	// max-width: 1000px;

	transform: translateY(-20px);
	padding-bottom: 64px;

	.nav-links{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.nav-previous, .nav-next{
		a {
			color: $hyperlien;
			margin: 0 20px;
		}
	}
}


#b_hub {

	@media (min-width:1080px) {
		padding-left : 10%;
		padding-right: 10%;
	}

	@media (min-width:1436px) {
		padding-left : 20%;
		padding-right: 20%;
	}

	figcaption {
		text-align : center;
		font-weight: bold;
	}

	a {
		text-decoration: none;
		color          : $hyperlien;
	}

	#articles {
		padding-top    : 20px;
		display        : flex;
		flex-grow      : 1;
		align-content  : flex-start;
		justify-content: center;
		flex-direction : column;
		gap            : 50px;

		@media (min-width:415px) {
			flex-direction : row;
			flex-wrap      : wrap;
			flex-shrink    : 0;
			justify-content: space-around;
		}

	}

	article {
		transition: ease-out 0.3s;

		display         : flex;
		flex-direction  : column;
		justify-content : center;
		align-items     : center;
		width           : 330px;
		height          : auto;
		background-color: $mauvePale;
		box-shadow      : 20px 20px 2px 0px $mauveSecondaire;
		border-radius   : 5px;

		@media(min-width: 601px) {
			width : 405px;
			height: auto;
		}

		&:hover {
			translate : 10px 10px;
			box-shadow: 10px 10px 1px 0px;
		}
	}
}

#b_single {

	h1{
		color: white;
		margin: 64px 0;
	}

	.article__top {
		display              : grid;
		grid-template-columns: auto;
		color                : #fff;

		@media (min-width:601px) {
			grid-template-columns: auto auto;
		}
	}

	.article__img {
		display       : flex;
		flex-direction: column;

		&>* {
			margin: 10px 0;
		}
	}

	.article__texte {
		padding: 0 10px;
	}

	.gauche {
		align-self: flex-start;

		img {

			/* La fonction repeat() ne fonctionne pas avec le sass de npm*/
			//border-radius: 0 repeat(3, 32px);
			border-radius: 0 32px 32px 32px;

			box-shadow: 10px 10px 2px 0px $mauveSecondaire;
		}
	}

	.droite {
		align-self: flex-end;

		img {
			border-radius: 32px 0 32px 32px;
			box-shadow: -10px 10px 2px 0px $mauveSecondaire;
		}
	}
}