// Prévixer les id et classes avec "b_"
.b_page{
	background: $gradientMauve;
}

.b_article__top{
	display: grid;
	grid-template-columns: auto auto;
	color: #fff;
}

figcaption{
	text-align: center;
	font-weight: bold;
}

#articles{
	display: flex;
	flex-wrap: wrap;
}

article{
	width: 405px;
	height: 510px;
}