// Prévixer les id et classes avec "c_"
.c_page{

	max-width: 100%;
	background: $gradientMauve;

	padding-top: 40px;
	padding-bottom: 80px;

	.c_h2 {
		margin-bottom: 80px;
		color: white;
		font-family: $fontePrimaire;
		font-size: 3.2rem;
		text-align: center;
	}
	@media (min-width:601px) {
		.c_h2 {
			font-size: 4.8rem;
		}
	}
	.c_membresEntete {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: .8rem;

		.c_h2 {
			margin: 0;
		}
		span {
			color: white;
			font-family: $fontePrimaire;
			font-size: 2rem;
		}
	}
	.c_membresBody {
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
		

		img {
			width: 320px;
			aspect-ratio: 16 / 27;
			border-style: solid;
			border-width: 4px;
			border-color: #210537;
			border-radius: 0 32px 32px 32px;
			box-shadow: 10px 15px 2px 0px #200436;
		}
		p {
			color: white;
		}
	}
	@media (min-width:601px) {
		.c_membresEntete {
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: baseline;
			gap: 2.4rem;
	
			.c_h2 {
				margin: 0;
			}
			span {
				font-size: 2.4rem;
			}
		}
		.c_membresBody {
			flex-direction: row;
			align-items: start;
		}
	}


	
	.c_groupeArticle {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 64px;

	}
	@media (min-width:601px) {
		.c_groupeArticle {
			flex-direction: row;
			justify-content: center;
			gap: 2%;
		}
	}
	@media (min-width:1001px) {
		.c_groupeArticle {
			gap: 5%;
		}
	}

	.c_groupeArticle {
		a {
			text-decoration: none;
		}
		p {
			color: white;
			text-align: center;
			margin: 0;
			font-family: "Macondo Swash Caps";
		}
		hr {
			border-top: .5px solid white;
			width: 90%
		}
		.c_articleNom {
			font-size: 2.4rem;
		}
		.c_articleFonction {
			font-size: 2rem;
		}
		.c_articleManda {
			font-size: 1.8rem;
		}

	
		.c_article {
			transition: ease-out 0.3s;

			max-width: 320px;
			position: relative;
			box-shadow: 10px 20px 2px 0px #200436;

			.c_articleHat {
				position: absolute;
				width: 50%;
				transform: translate(-50%, -50%) rotate(-35deg)
			}
	
			.c_articleImg {
				max-width: 100%;
				border-radius: 5px 5px 0 0;
	
			}
			.c_figcaption {
				background-color: #7600AD;
				padding: 10px 0;
				border-style: solid;
				border-width: 2px 3px 2px 3px;
				border-radius: 0 0 5px 5px;
				border-color: white;
			}

			&:hover {
				translate : 5px 10px;
				box-shadow: 5px 10px 2px 0px;
			}
		}
	}

	.c_membresFooter {
		margin-top: 80px;

		.nav-links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 32px;
		}
		@media (min-width:601px) {
			.nav-links {
				gap: 64px;
			}
		}
		.nav-previous {
			position: relative;

			&::before {
				content: "";
				display: block;

				position: absolute;
				transform: translate(-50%, -50%) rotate(-35deg);
				width: 25px;
				aspect-ratio: 1/1;
				background-image: url("../images/WizardHat.svg");
				background-repeat: no-repeat;
			}
		}
		.nav-next {
			position: relative;

			&::before {
				content: "";
				display: block;

				position: absolute;
				right: 0;
				transform: translate(50%, -50%) rotate(35deg) scale(-1, 1);
				width: 25px;
				aspect-ratio: 1/1;
				background-image: url("../images/WizardHat.svg");
				background-repeat: no-repeat;
			}
		}

		a {
			color: white;
			text-decoration: none;
			font-size: 2rem;
			text-align: center;
		}

	}
}
